# Compiled JavaScript files
**/*.js
**/*.js.map

# Except the ESLint config file
# !.eslintrc.js

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

.idea

#secret
src/email/transporter.ts
src/email/secret-emails.ts

#output
lib/
