<div class="container">
  <div [class]="containerClass$ | async" >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Support Form</mat-card-title>
        <mat-card-subtitle>
          Use this form to request support regarding this site.
          Feedback about Sahee Counselling or the workshops should be sent directly to Sahee Counselling.
          If you don't know how to contact them, look on <a href="https://sahee.co.uk">www.sahee.co.uk</a>.
        </mat-card-subtitle>
      </mat-card-header>
      <form [formGroup]="form" (ngSubmit)="submit()" >
        <mat-card-content>
          <mat-form-field [appearance]="message.pristine ? 'fill' : 'standard'">
            <mat-label>Support Request</mat-label>
            <textarea matInput formControlName="message" placeholder="Describe your error or problem" ></textarea>
          </mat-form-field>
          <mat-slide-toggle *ngIf="!requireEmail" formControlName="provideEmail" >
            Use a different email to your account's email.
          </mat-slide-toggle>
          <mat-form-field *ngIf="provideEmail.value" [appearance]="email.pristine ? 'fill' : 'standard'">
            <mat-label>Your email (to use to reply to your support request)</mat-label>
            <input matInput formControlName="email" [placeholder]="emailPlaceholder" >
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary" type="submit" [disabled]="form.invalid || form.disabled">
            Send Feedback
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
