.emailTab {
  mat-form-field {
    width: 100%;
  }
  mat-slide-toggle {
    margin-bottom: 1em;
  }
}

.form-actions {
  display: flex;
  * {
    flex-grow: 1;
    margin: 1em;
  }
}

.recent-email {
  margin: 1em;
}
