<h4>This is an email that will be sent to all current users who have consented to general emails but aren't signed up
  for this workshop. Be careful as this may result in a lot of emails.</h4>
<div class="promotionTab">
  <mat-form-field appearance="outline">
    <mat-label>Promotion Email</mat-label>
    <textarea matInput [formControl]="promotionEmail" ></textarea>
  </mat-form-field>
  <button
    mat-raised-button color="primary"
    [disabled]="promotionEmail.pristine || promotionEmail.disabled"
    (click)="sendPromotionEmail()"
  >
    Send
  </button>
</div>
<div *ngIf="sentEmail !== null" class="recent-email">
  <h2>Recently Sent Promotional Email</h2>
  <p>{{sentEmail.message}}</p>
  <h4>Sent to {{sentEmail.emailAddresses.length}} people:</h4>
  <ul>
    <li *ngFor="let emailAddress of sentEmail.emailAddresses">{{emailAddress}}</li>
  </ul>
</div>
