<div *ngIf="unknownRoute$ | async" class="unknown-route">
  <h1>The route you were looking for couldn't be found.</h1>
</div>
<div class="container">
  <ng-container *ngIf="allowNew$ | async">
    <ng-container *ngTemplateOutlet="createWorkshopCard"></ng-container>
  </ng-container>

  <ng-container *ngIf="((workshops$|async)?.length || 0) === 0">
    <ng-container *ngTemplateOutlet="noWorkshopsCard"></ng-container>
  </ng-container>

  <mat-card *ngFor="let workshop of workshops$ | async" [class.future-workshop]="workshopIsInFuture(workshop)" >
    <mat-card-header>
      <mat-card-title>
        {{workshop.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{workshop.jsDate.toString()}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img class="poster-img" [src]="(posterUrl$(workshop.id) | async) || ''" alt="Workshop Poster is Missing.">
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent"
              [routerLink]="[(unknownRoute$ | async) ? '../' : './', workshop.id]"
      >View</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #createWorkshopCard>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Create New Workshop
      </mat-card-title>
    </mat-card-header>

    <mat-card-content></mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" [routerLink]="['./new']">Create</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #noWorkshopsCard>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        There are currently no workshops available
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</ng-template>
