.container {
  margin-top: 2em;
  margin-bottom: 10em;
}

.wide-container {
  width: 90%;
  margin: {
    left: 5%;
    right: 5%;
  }
}

.thin-container {
  width: 70%;
  margin: {
    left: 15%;
    right: 15%;
  }
}
