<div class="container" [class]="containerClass$ | async" >
  <mat-accordion>


    <mat-expansion-panel *ngIf="(isAdmin$ | async) !== undefined">
      <mat-expansion-panel-header>
        <mat-panel-title>Manage Admin Privileges</mat-panel-title>
        <mat-panel-description>Grant or Remove Admin Privileges</mat-panel-description>
      </mat-expansion-panel-header>
      <h4>Here you can grant or remove admin privileges from other users by their email address.</h4>
      <mat-form-field>
        <mat-label>User email</mat-label>
        <input matInput [formControl]="adminEmail">
      </mat-form-field>
      <mat-action-row>
        <button mat-raised-button color="warn" (click)="submitAdminEmail(false)"
                [disabled]="adminEmail.pristine || adminEmail.invalid || adminEmail.disabled">
          Remove Admin Privileges
        </button>
        <button mat-raised-button color="accent" (click)="submitAdminEmail(true)"
                [disabled]="adminEmail.pristine || adminEmail.invalid || adminEmail.disabled">
          Grant Admin Privileges
        </button>
      </mat-action-row>
    </mat-expansion-panel>



    <mat-expansion-panel *ngIf="isAdmin$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>Restore Core Admins</mat-panel-title>
        <mat-panel-description>Grant Admin Privileges to Pre-defined Set of Users</mat-panel-description>
      </mat-expansion-panel-header>
      <h4>
        Here you can grant privileges to a pre-defined set of users.
        This is for use in such a case where there are no admins left (they all removed each other).
        Avoid using this.
      </h4>
      <ng-container *ngIf="restoredAdmins !== null">
        <p>Admin privileges granted to {{restoredAdmins.length}} users:</p>
        <ul>
          <li *ngFor="let restoredAdmin of restoredAdmins">{{restoredAdmin}}</li>
        </ul>
      </ng-container>
      <mat-action-row>
        <button mat-stroked-button color="warn" (click)="restoreCoreAdmins()"
                [disabled]="restoredAdmins !== null || (loading$ | async)">
          Restore Core Admins
        </button>
      </mat-action-row>
    </mat-expansion-panel>



    <mat-expansion-panel *ngIf="isAdmin$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>Patch Database</mat-panel-title>
        <mat-panel-description>Upgrade and Fix Database Structure</mat-panel-description>
      </mat-expansion-panel-header>
      <h4>
        Sometimes a significant update is done to how the site works, resulting in a restructuring of the database.
        In this case, after updating the site, this option should be used to update the database appropriately.
        This should only be done once, and only on updates that require it, as it can involve a lot of work.
      </h4>
      <mat-action-row>
        <button mat-stroked-button color="warn" (click)="patchDatabase()"
                [disabled]="patchedDatabase || (loading$ | async)">
          Restore Core Admins
        </button>
      </mat-action-row>
    </mat-expansion-panel>



    <mat-expansion-panel *ngIf="isAdmin$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>Repair Database Database</mat-panel-title>
        <mat-panel-description>Repair the Data in the Database</mat-panel-description>
      </mat-expansion-panel-header>
      <h4>
        Sometimes the data in the database becomes inconsistent which can cause a lot of problems.
        This shouldn't happen, but sometimes there is a bug which wasn't noticed.
        After fixing the bug, the data needs to be put back into a consistent state.
        This option does this, however since it involves re-writing a lot of the database,
        it is an expensive and discouraged operation, that should only be used as instructed by the programmers.
      </h4>
      <mat-action-row>
        <button mat-stroked-button color="warn" (click)="repairDatabase()"
                [disabled]="repairedDatabase || (loading$ | async)">
          Restore Core Admins
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

