<div class="container">
  <div [class]="containerClass$ | async" >
    <mat-accordion multi>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Profile</mat-panel-title>
          <mat-panel-description>Edit Name and Email (and delete account)</mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <ngx-auth-firebaseui-user
            (onAccountDeleted)="signedOut()"
            [canLogout]="false"
            (onSignOut)="signedOut()"
          ></ngx-auth-firebaseui-user>
        </ng-template>
      </mat-expansion-panel>


      <mat-expansion-panel *ngIf="emailNotVerified$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>Verify email</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <ngx-auth-firebaseui-email-confirmation (signOut)="signedOut()" >
          </ngx-auth-firebaseui-email-confirmation>
        </ng-template>
      </mat-expansion-panel>


      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>Consent</mat-panel-title>
          <mat-panel-description>Consent to general emails about workshops</mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <p>This is not for emails about workshops you have registered for. For those emails you have to change the settings on the individual workshops.</p>
          <mat-slide-toggle [formControl]="consentToEmails">Consent to emails about workshops.</mat-slide-toggle>
        </div>
        <mat-action-row>
          <button mat-stroked-button color="primary" (click)="updateConsent()"
                  [disabled]="consentToEmails.pristine || consentToEmails.invalid || consentToEmails.disabled">
            Submit
          </button>
          <span class="space-filler"></span>
        </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>

