.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10000;
}

.space-filler {
  flex: 1 0 auto;
}

.feedbackBtn {
  position: fixed;
  right: 2em;
  bottom: 2em;
}

.email-warning {
  height: auto;
  text-align: center;
  white-space: pre-wrap;
}
