<form [formGroup]="form">
  <mat-horizontal-stepper [linear]="true" #stepper class="mat-elevation-z6" >
    <mat-step [editable]="false" [completed]="user$ | async" label="Sign In" >
      <app-login [redirect]="false" (signIn)="stepperNextIfAlreadySignedIn()" ></app-login>
    </mat-step>
    <mat-step [editable]="false" [completed]="false" [label]="registered ? 'Edit Registration' : 'Register'" >
      <h4>
        <ng-container *ngIf="registered;else registerMsg">
          <strong>You are currently registered for this workshop.</strong>
          Below you can edit your settings for the workshop.
        </ng-container>
        <ng-template #registerMsg >
          You are currently <strong>not</strong> registered for this workshop.
          Register below so you can access content such as the video call link or recording.
        </ng-template>
      </h4>
      <form [formGroup]="form" >
        <mat-slide-toggle formControlName="generalEmailConsent" *ngIf="generalEmailConsent.enabled" >
          Consent to emails about <strong>other</strong> workshops
        </mat-slide-toggle>
        <div></div>
        <mat-slide-toggle formControlName="emailConsent" >
          Consent to emails about <strong>this</strong> workshops
        </mat-slide-toggle>
      </form>
      <div class="form-actions">
        <button mat-stroked-button color="warn" *ngIf="registered" [disabled]="form.disabled" (click)="submit(true)">
          Unregister
        </button>
        <button mat-stroked-button color="primary" [disabled]="(registered && form.pristine) || form.disabled" (click)="submit()">
          Submit
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
