<div class="container">
  <ng-container *ngIf="(workshop$ | async) === undefined; else workshopTabs">
    <mat-card [class]="containerClass$|async">
      <ng-container *ngTemplateOutlet="detailsForm"></ng-container>
    </mat-card>
  </ng-container>
</div>

<ng-template #detailsForm>
  <app-admin-workshop-details-form [workshop]="workshop$ | async"></app-admin-workshop-details-form>
</ng-template>

<ng-template #workshopTabs>
  <mat-tab-group mat-stretch-tabs dynamicHeight [class]="containerClass$|async" class="mat-elevation-z4">
    <mat-tab label="Details">
      <div class="tab">
        <ng-container *ngTemplateOutlet="detailsForm"></ng-container>
      </div>
    </mat-tab>
    <mat-tab label="Poster">
      <div class="tab">
        <app-admin-workshop-change-poster [workshop$]="workshop$"></app-admin-workshop-change-poster>
      </div>
    </mat-tab>
    <mat-tab label="Promotion">
      <div class="tab">
        <app-admin-workshop-promotion [workshop$]="workshop$"></app-admin-workshop-promotion>
      </div>
    </mat-tab>
    <mat-tab label="Email">
      <div class="tab">
        <app-admin-workshop-message [workshop]="workshop$ | async"></app-admin-workshop-message>
      </div>
    </mat-tab>
    <mat-tab label="Stats">
      <div class="tab">
        <p>Registered Users: {{(stats$ | async)?.users || 0}}/{{(stats$ | async)?.totalUsers || 0}}.</p>
        <p>Consents for emails: {{(stats$ | async)?.consents || 0}}/{{(stats$ | async)?.users || 0}}.</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>
